@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
 
  
     
/* ########  header and navbar*/

.container{
    width:100%;
    height: 50px;
    display: flex;
    gap: 60px;
    background-color: rgb(164, 97, 97);
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 5;
   
    
}
.menu{
    display: none;
    align-items: center;
 }
 #close-button{
    display: none;
 }

.heading{
    font-size: 35px;
   text-align: center;
   padding-left: 10px;
   padding-top: 5px;
   color: rgb(235, 208, 228);
     
     
}

.navbar{
   align-items: end;
   padding: 15px;
   margin-left: 150px;
}

nav ul li{
    
    display: inline-block;
    list-style-type: none;
     
}

a{
    color: rgb(235, 208, 228);
    text-decoration: none;
    padding: 8px;
}

a:hover{
    color: rgb(25, 18, 23);
    background-color: rgb(150, 168, 207);
}

/* ##################   main ########################*/
               
              /*####  SECTION 1  ####*/

           .section1{
            padding: 100px;
            width:100%;
            height: 560px;
            display: flex;
            gap: 60px;
            justify-content:space-between;
            background: linear-gradient(143deg, rgb(249, 206, 183) 0.00%, rgb(173, 209, 242) 100.00%);
            
           }   
           .title{
            padding: 10%;
            line-height: 1.3;
            text-shadow: 1px 1px rgb(147, 133, 133);

           }
           #p1{
            font-size: 1.2rem;
            padding-left: 40px;
        }
        #p2{
           color:rgb(26, 23, 22);
            font-size: 2rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
             
        }
        #p3{
            font-size: 0.8rem;
            padding-left: 30px;
            margin-top: 10px;
             
        }
        #b1{
            padding:  10px;
            margin-top: 30px;
            background-color: rgb(116, 135, 174);
            color: black;
        }
        #b2{
            padding: 10px;
            margin-top: 30px;
            background-color: rgb(116, 135, 174);
            color: black;
          }
    
        #b1:hover{
            border-color: rgb(93, 192, 159);
            color: rgb(93, 192, 159);  
            background-color: aliceblue;
            
          }
        #b2:hover{
            border-color: rgb(93, 192, 159);
            color: rgb(93, 192, 159);  
            background-color: aliceblue;
      
          }
           .btn:hover{
             background-color: transparent;
           }
 
        .image img{
            width: 250px;
            
            transform:translate( 40px,-40px);
            border-radius: 40%;
            filter: drop-shadow(-20px -10px 10px rgb(57, 86, 113));  
           }

/*    ###################      ABOUT ME SECTION      ####################   */


.section2{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 50px 0;
    align-items: center;
    background-color: beige;
    background-image: url(./images/about-me-background.jfif);
    background-size: cover;
   
}
.heading2 h2{
    text-align:center ;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    margin-bottom: 40px;
}
.head3{
    display: none;
}

 .featured-portfolio {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
 }
 .about-me-cards{
    display: flex;
    row-gap: 50px;
    column-gap: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 0 100px;
 }
 .d{
    border: 0.2px solid black;
    border-radius: 10%;
    text-align: center;
    background-color: antiquewhite; 
}  
 .d img{
     width:250px ;
     border-radius: 10%;
} 
#imgg{
    height:160px ;
}
 
.technical-skills-heading{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(105, 105, 196);
    border: .1px solid rgb(148, 148, 146);
    text-align: center;
    border-radius: 50%;
    background-color: rgb(182, 190, 190);
    padding-top: 50px;
}
/* #######################  project section  ####################### */

.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: rgb(20, 51, 59);
    border: 1px solid rgb(14, 43, 50);
    box-shadow: inset -4px -4px 30px rgb(137, 192, 206) ;
}
.project-heading{
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    font-family: "League Spartan", sans-serif;
    color: rgb(250, 249, 250);
}
.project{
    margin: 50px 400px;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    border: 1px solid orange;
    box-shadow: inset -4px -4px 30px rgb(231, 172, 63);
}
.project a{
    text-decoration: none;
}
.project p{ 
  font-size: 20px;
  padding-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project a img{
background-size: cover;
width: 300px;
}

/* ###############    contact SECTION    ############### */

.section3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 60px;
    background: linear-gradient(132deg, rgb(221, 221, 221) 0.00%, rgb(110, 136, 161) 100.00%);
}
.heading3{
    padding-left: 300px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 10px;
    padding: 40px 200px;
    width: 100%;

}
.contact-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    padding: 90px 0;
}
#p31{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: lighter;
    text-indent: 15px;
    margin-bottom: 10px;
    font-style: italic;
    color: rgb(7, 3, 3);
}
#p32{
color:  rgb(61, 43, 43);
font-size: 1.3rem;
font-family: "League Spartan", sans-serif;
font-weight: 700;
}
.contact-me-form{
    border: 0.1px solid black; 
    border-radius: 10%;
   margin-bottom: 50px;
   height: 430px;
    
    background: linear-gradient(132deg, rgb(1, 96, 105) 0.00%, rgb(0, 72, 95) 100.00%);
}
.input-box{
    padding: 2px 80px;
    margin-top: 3px;
    
}
.input{
    padding: 4px 69px;
    border-radius: 10%;
    background-color: aliceblue;
}
 
 
 
.submit{
      margin-left: 200px;
      padding: 10px 25px;
      text-align: center;
      color: rgb(35, 31, 31);
       font: bolder;
       background: linear-gradient(132deg, rgb(249, 206, 183) 0.00%, rgb(173, 209, 242) 100.00%);
    }
.submit:hover{
    color: aliceblue;
    background: linear-gradient(132deg, rgb(113, 143, 175) 0.00%, rgb(69, 92, 114) 100.00%);
}
.sub{
    margin: 10px 0;
   
}
 
.in1{
    margin-top: 40px;
}



  @media screen and (max-width: 640px) {
    .heading {
        font-size: 23px;
        padding: 10px 20px;
    }
    .navs{
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      position: fixed;
      top: 0px;
      right:-300px;
      height: 50vh;
      width: 300px;
      background-color: rgb(196, 157, 157);
      padding: 50px 0 0 10px;
      box-shadow: inset -20px -20px 40px #4b5242;
      transition: 0.3s;
    }
    .navs.active{
        right:0px;
       }
       .navs li{
           margin: 10px 0;
       }
       .navs li a{
       color: #030206;
       font-weight: 700;
     }
     .menu{
        display:flex;
        align-items: center;
        margin-left: 20px;
     }
        
     .menu i{
        color: rgb(252, 249, 249) ;
        padding: 5px 10px;
        font-size: 24px;
     }
     #close-button{
        display: initial;
        position: absolute;
        top: 10px;
        left:10px;
        font-size: 24px;
        color: #0a0b0a !important;
        }

    .section1 {
        margin: 20px  0;
        padding: 50px 30px;
         width: 100%;
        height: 560px;
        display: flex;
        gap: 20px;
        }
    .image img {
        width: 250px;
        transform: translate( 0px,0px);
        border-radius: 40%;
        }    
    .title {
        padding: 10% 5%;
        line-height: 1.3;
        text-shadow: 1px 1px rgb(147, 133, 133);
        }  
        .about-me-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 20px; 
            row-gap: 30px;
            column-gap: 30px;
            justify-content: center;
        }    
        .technical-skills-heading {
            display: none;
        } 
        .head3{
            display: flex;
            font-size: 30px;
            margin-bottom: 30px;
            color: #4b5242;
        } 
        .contact {
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            gap: 0px;
            padding: 40px 10px;
            margin-left: 10px;
            width: 100%;
        }    
        .contact-details {
            width: 50%; 
            padding: 30px 0;
        }   
        .heading3 {
            padding-left: 200px;
          
        }   
}
@media screen and (max-width: 477px){
    #p1 {  
        padding-left: 10px;
    }
    #p3 {  
        padding-left: 10px;
    }
    #b1 {
        padding: 10px 20px;
        
    }
    .title {
         text-align: center;
         transform: translate(-15px, 0px);
    }
    .image img {
        width: 220px;
        
    }
    .heading3 {
        padding-left: 130px;
    }  
    .contact-details {
         
        width: 70%;
         
    }
    #p32 {
        width: ;
        color: rgb(99, 93, 93);
        font-size: 1.4rem;
    }
    .contact {
        margin-left:0;
        align-items: center;
    }
    .contact-me-form {
        
        margin-bottom: 10px;
        height: 420px;
        }
    .input {
        padding: 4px 40px;
        border-radius: 10%;
        background-color: aliceblue;
    }
    .submit {
        margin-left: 150px;
         
    }
}
